*,
*::after,
*::before {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
}

button {
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 0;
  color: inherit;
  font-family: inherit;
  overflow-x: hidden;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  font-weight: normal;
  font-size: 15px;
  font-style: normal;
}

.header {
  font-weight: 600;
  line-height: 18px;
  padding: 25px 60px 0;
  display: block;
}

.header_wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  max-width: 100%;
  height: auto;
  transition: opacity 0.2s linear;
}

.header__logo:hover {
  opacity: 0.5;
}

.mainmenuitem {
  position: relative;
  padding-bottom: 10px;
  transition: color 0.2s linear;
}

.mainmenuitem::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e51937;
  border-radius: 0 0 25px 25px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.mainmenuitem:hover {
  color: #e51937;
}

.mainmenuitem:hover::after {
  opacity: 1;
}

.item1 {
  margin-right: 60px;
}

.item2 {
  margin-right: 25px;
}

.item3 {
  margin-right: 45px;
}

.item4 {
  margin-right: 45px;
}

.header__actionmenu {
  display: flex;
  align-items: center;
}

.actionmenu__link::after {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: #e51937;
  border-radius: 0 0 25px 25px;
  opacity: 0;
  transition: opacity 0.2s linear;
}

.actionmenu__link:hover {
  color: #e51937;
}

.actionmenu__link:hover::after {
  opacity: 1;
}

.header__actionmenu .actionmenu__link:nth-child(1) {
  margin-right: 30px;
}

.actionmenu__button {
  outline: none;
}

.actionmenu__button img {
  padding: 10px 0 0 30px;
}

@media (max-width: 1080px) {
  .header {
    padding: 25px 30px 0;
  }
}

@media (max-width: 950px) {
  .header__mainmenu {
    display: none;
  }
}

@media (max-width: 520px) {
  .header {
    padding-left: 10px;
  }

  .header__actionmenu .actionmenu__link {
    display: none;
  }
}

@media (max-width: 400px) {
  .header {
    padding-top: 0;
  }
}

.page {
  position: relative;
  padding-top: 60px;
  padding-bottom: 40px;
}

.page__title {
  font-weight: 600;
  font-size: 90px;
  text-align: center;
}

.page__subtitle {
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  margin-bottom: 25px;
  line-height: 18px;
}

.page__image-wrap {
  position: relative;
  max-width: 970px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.page__image-wrap::after {
  position: absolute;
  content: '';
  display: block;
  width: 1199px;
  height: 467px;
  top: -145px;
  left: 50%;
  transform: translateX(-50%);
  background: url('img/Tesla-Wordmark-Red  - фон.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.page__image {
  display: block;
}

.page__items {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 35px;
}

.page__items1 {
  width: 100%;
  max-width: 375px;
  display: flex;
  justify-content: space-between;
  margin-right: 105px;
}

.itemspeed {
  display: flex;
  align-items: center;
}

.itemspeed__icon {
  margin-right: 10px;
  padding-top: 10px;
  width: 46px;
}

.itemspeed__value {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.itemspeed__value b {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.itemspeed__descr {
  font-size: 12px;
  line-height: 15px;
}

.itemroad {
  display: flex;
  align-items: center;
}

.itemroad__icon {
  margin-right: 10px;
  padding-top: 10px;
  width: 31px;
}

.itemroad__value {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.itemroad__value b {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
}

.itemroad__descr {
  font-size: 12px;
  line-height: 15px;
}

.page__order {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 375px;
}

.itemtest {
  justify-content: space-between;
  margin-top: auto;
}

.itemtest .itemtest__info {
  position: relative;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  margin-right: 40px;
  padding-left: 30px;
  transition: color 0.2s, linear;
}

.itemtest .itemtest__info::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  background-image: url('img/steering-wheel.svg');
  background-repeat: no-repeat;
}

.itemtest .itemtest__info:hover {
  color: #e51937;
}

.itemtest__info:hover::before {
  background-image: url(img/steering-wheel__red.svg);
  background-repeat: no-repeat;
}

.itembutton__white {
  min-width: 160px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #e51937;
  text-transform: uppercase;
  border: 2px solid #e51937;
  padding: 10px 40px;
  transition: color 0.2s, background 0.2s;
}

.itembutton__white:hover {
  background: #e51937;
  color: #fff;
}

.page__arrow {
  display: block;
  max-width: 20px;
  margin: 0 auto;
  transition: opacity 0.2s linear;
}

.page__arrow:hover {
  opacity: 0.5;
}

@media (max-width: 1220px) {
  .page__image-wrap::after {
    width: 900px;
    top: -100px;
  }
}

@media (max-width: 1080px) {
  .page__items {
    padding: 0 30px;
  }
}

@media (max-width: 950px) {
  .page__image-wrap::after {
    width: 695px;
    top: -75px;
  }

  .page__subtitle {
    margin-bottom: 70px;
  }
}

@media (max-width: 860px) {
  .page__items {
    flex-wrap: wrap;
    justify-content: center;
  }

  .page__items1 {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .page__order {
    width: 100%;
    justify-content: center;
  }
}

@media (max-width: 640px) {
  .page__image-wrap::after {
    width: 600px;
    top: -75px;
  }
}

@media (max-width: 550px) {
  .page__image-wrap::after {
    width: 500px;
    top: -60px;
  }
}

@media (max-width: 450px) {
  .page__image-wrap::after {
    width: 400px;
    top: -55px;
  }
}

@media (max-width: 400px) {
  .page__title {
    font-size: 80px;
  }
}

@media (max-width: 340px) {
  .page__title {
    font-size: 70px;
  }
}

@media (max-width: 320px) {
  .page__title {
    font-size: 60px;
  }
  .page__image-wrap::after {
    width: 300px;
    top: -40px;
  }
}

.basicpage {
  position: relative;
}

.basicpage__wrap {
  min-height: 900px;
  background: url('img/2013-tesla-model-s-cockpit.png') no-repeat left bottom;
}

.basicpage__title {
  font-weight: 600px;
  font-size: 70px;
  color: #e51937;
  margin-right: auto;
  margin-left: 80px;
}

.box {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  max-width: 440px;
  background: #e51937;
  color: #fff;
  padding: 50px 68px 40px 56px;
}

.aside__title {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
  line-height: 37px;
}

.aside__descr {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 50px;
}

.aside__items {
  margin-bottom: 35px;
}

.item {
  display: flex;
  align-items: center;
}

.basicpage .item {
  margin-bottom: 35px;
}

.basicpage .item__icon {
  margin-right: 20px;
}

.item__title {
  font-weight: 600;
  font-size: 20px;
}

.item__title b {
  font-weight: 600;
  font-size: 35px;
}

.item__subtitle {
  display: block;
  font-size: 12px;
}

.box2 {
  display: flex;
  align-items: center;
}

.item__info {
  justify-content: space-between;
  margin-top: auto;
}

.item__link {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 22px;
  text-transform: uppercase;
  margin-right: 40px;
  transition: color 0.2s, opacity 0.2s linear;
}

.item__info .item__link {
  position: relative;
  text-transform: uppercase;
  padding-left: 30px;
  margin-right: 22px;
}

.item__info .item__link::before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  left: 0;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  background-image: url('img/Group I.png');
  background-repeat: no-repeat;
}

.item__link:hover {
  color: #fff;
  opacity: 0.7;
}

.itembutton {
  min-width: 160px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #fff;
  text-transform: uppercase;
  border: 2px solid #fff;
  padding: 10px 40px;
  transition: color 0.2s, background 0.2s;
}

.itembutton:hover {
  color: #e51937;
  background: #fff;
}

@media (min-width: 1600px) {
  .box {
    min-width: 35%;
  }
}

@media (max-width: 860px) {
  .basicpage__title {
    font-size: 50px;
    text-align: right;
    margin-left: 0;
    margin-right: 60px;
  }

  .box {
    position: static;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .basicpage__wrap {
    min-height: 500px;
    background-position: center top;
    background-size: cover;
  }

  .aside__content {
    width: 50%;
  }

  .item__info {
    margin: 40px auto 0 auto;
  }

  .item__info .item__link {
    margin-right: 50px;
  }

  .item__info .item__link,
  .item__info .item__btn {
    font-size: 16px;
  }
}

@media (max-width: 670px) {
  .basicpage__wrap {
    min-height: 430px;
  }

  .aside__items {
    display: none;
  }

  .aside__content {
    width: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  .item__info {
    display: none;
  }
}

@media (max-width: 570px) {
  .basicpage__wrap {
    min-height: 370px;
  }
}

@media (max-width: 420px) {
  .basicpage__wrap {
    min-height: 300px;
  }

  .aside__content {
    text-align: left;
  }

  .asideinfo {
    margin-bottom: 0;
  }
}

@media (max-width: 375px) {
  .box {
    padding: 29px 29px 40px;
  }

  .basicpage__title .aside__items .item__info {
    display: none;
  }

  .aside__content {
    text-align: left;
  }

  .asideinfo {
    margin-bottom: 0;
  }

  .basicpage__title {
    display: none;
  }

  .basicpage__wrap {
    min-height: 247px;
    background-size: contain;
  }
}

@media (max-width: 350px) {
    .basicpage__wrap {
    min-height: 210px;
  }
}

.lastpage {
  position: relative;
  min-height: 900px;
  display: flex;
  align-items: center;
}

.lastpage::after {
  position: absolute;
  z-index: -1;
  content: 'Model S';
  top: 22%;
  right: 0%;
  font-weight: 600;
  font-size: 180px;
  color: #e51937;
  opacity: 0.1;
}

.lastpage__aside {
  left: 0;
}

.aside__content {
  text-align: left;
}

.asidetitle {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin-bottom: 12px;
}

.asideinfo {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 70px;
}

.ratinglist {
  margin-bottom: 100px;
}

.ratingtitle {
  font-weight: 600;
  font-size: 30px;
  margin-bottom: 10px;
}

.rating {
  margin-top: 30px;
}

.rating__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.rating__item:last-child {
  margin-bottom: 0;
}

.rating__name {
  font-weight: bold;
  font-size: 17px;
  text-transform: uppercase;
}

.rating__name span {
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.security {
  display: flex;
  align-items: center;
}

.security5star {
  margin-left: auto;
  margin-right: auto;
}

.security5star .rating5star__image {
  margin-right: 20px;
}

.rating5satr__title {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
}

.rating5star__subtitle {
  display: block;
  font-weight: 600;
  font-size: 25px;
}

.carview {
  position: absolute;
  top: 60%;
  right: 10px;
  max-width: 75%;
  transform: translateY(-50%);
}

.carview__inner {
  position: relative;
  z-index: 99;
}

.carview__item {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
}

.carview__title {
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
}

.carview__item:nth-child(2) {
  left: 25.2%;
  top: 0%;
}

.carview__item:nth-child(3) {
  left: 51.8%;
  top: -8%;
}

.carview__item:nth-child(4) {
  align-items: flex-end;
  left: 56.8%;
  top: auto;
  bottom: 11%;
}

@media (min-width: 1420px) {
  .carview {
    right: 0;
  }
}

@media (max-width: 1200px) {
  .lastpage {
    padding-top: 145px;
  }

  .lastpage::after {
    right: 50%;
    top: 5%;
    transform: translateX(50%);
    width: 100%;
    text-align: center;
  }

  .lastpage__wrap {
    display: flex;
    flex-wrap: wrap;
  }

  .lastpage__aside {
    position: static;
    max-width: 100%;
    order: 2;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .carview {
    position: static;
    transform: none;
    max-width: 100%;
    order: 1;
    margin-left: auto;
    margin-right: auto;
  }

  .ratinglist {
    max-width: 300px;
    margin-right: 70px;
  }

  .security5star {
    margin-right: 0;
    margin-left: 0;
    width: 60%;
  }

  .lastpage__aside .item__info {
    margin-top: 0;
    margin-left: auto;
  }
}

@media (max-width: 1140px) {
  .lastpage__aside .item__info {
    width: 100%;
  }
}

@media (max-width: 1140px) {
  .security5star {
    width: 40%;
  }
}

@media (max-width: 1060px) {
  .carview__title {
    font-size: 15px;
  }

  .carview__item:nth-child(2) img {
    height: 27vw;
  }

  .carview__item:nth-child(3) img {
    height: 12vw;
  }

  .carview__item:nth-child(4) img {
    height: 11vw;
  }
}

@media (max-width: 860px) {
  .lastpage__wrap {
    min-height: 500px;
    background-position: center top;
    background-size: cover;
  }

  .box {
    position: static;
    max-width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .security5star {
    display: none;
  }
}

@media (max-width: 768px) {
  .carview {
    padding-bottom: 40px;
  }

  .lastpage::after {
    top: 6%;
    font-size: 148px;
  }

  .ratinglist {
    margin-right: 0;
  }

  .carview__title {
    max-width: 165px;
  }

  .lastpage__aside .item__info {
    width: auto;
  }

  .carview__item:nth-child(2) {
    left: 25%;
  }

  .carview__item:nth-child(3) {
    left: 51.5%;
  }
}

@media (max-width: 670px) {
  .ratinglist {
    display: none;
  }

  .security {
    display: none;
  }

  .lastpage {
    min-height: auto;
  }

  .lastpage::after {
    font-size: 100px;
  }

  .lastpage .aside__content {
    width: auto;
    max-width: 400px;
  }

  .carview__title {
    font-size: 10px;
    line-height: 11px;
  }

  .carview__item:nth-child(2) {
    left: 24.8%;
  }

  .carview__item:nth-child(3) {
    left: 51.3%;
  }

  .carview__item:nth-child(4) {
    left: 56.6%;
    bottom: 11.8%;
  }
}

@media (max-width: 460px) {
  .carview__title {
    font-size: 7px;
    line-height: 6px;
  }
}

@media (max-width: 420px) {
  .lastpage::after {
    /* top: 3%;  */
    font-size: 90px;
  }
}

@media (max-width: 375px) {
  .lastpage {
    padding-top: 75px;
  }

  .carview__item:nth-child(2) {
    left: 23.9%;
  }

  .carview__item:nth-child(3) {
    left: 50.3%;
  }

  .carview__item:nth-child(4) {
    left: 55.6%;
    bottom: 12.8%;
  }

  .lastpage::after {
    top: 4%;
    font-size: 24%;
  }

  .ratinglist {
    display: none;
  }

  .security {
    display: none;
  }
}

.whs__logo {
  position: absolute;
  width: 100%;
  display: flex;
}

.footer__author {
  margin-left: auto;
  padding-top: 50px;
}

@media (max-width: 1300px) {
  .whs__logo {
    display: none;
  }
}
